.cell-row {
  display: flex;
}

.cell {
  width: 80px;
  border: 1px solid lightgray;
  height: 40px;
  outline: none;
  box-sizing: border-box;
}

.cell:focus {
  background-color: #ddd;
  border: 3px solid lightblue;
}

.header {
  background-color: #ddd;
  text-align: center;
}

.active {
  background-color: lightblue;
  color: white;
}
